<div id="api-explorer">
    <div class="row">
        <div class="row-container">
            <div class="col-xs-12">
                <h1>TICKETMASTER API EXPLORER</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row-container">
            <div class="col-xs-12">
                <nav class="nav navbar-nav"></nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row-container">
            <h2 class="col-xs-12" id="selected-method-name"></h2>
        </div>
    </div>

    <div class="row-container">
        <div id="columns" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
            <div id="primary-column">
                <p>
                    <a class="btn btn-success btn-lg" href="#" role="button" id="primary-btn">GET</a>
                    <a class="btn btn-danger" id="clear-params">Clear parameters</a>
                </p>
                <div class="list-group">
                    <a class="list-group-item active">
                        Parameters
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row-container">
            <div class="col-xs-12">
                <h2>Response list</h2>
                <!--<a class="btn btn-info" id="clear-req-resp" style="display: none;">Clear all requests</a>-->
                <div class="panel-group" id="req-res-container"></div>
            </div>
        </div>
    </div>

</div>

