#spinner {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: url('../../assets/img/loader.gif');
  background-size: 100px 100px;
  z-index: 1000;
}

#api-explorer{

  .api-dropdown{
    margin-top: 5px;
    margin-right: 48px;
    .dropdown-menu{
      background-color: $n3;
      li{
        margin: 10px 0;
        a{
          h3{
            font-family: $font-body;
            color: $white;
            text-align: left;
            text-transform: capitalize;
            margin: 0;
          }
          &:hover{
            background: $n3;
            h3{
              color: $p1;
            }
          }
        }
      }
    }
    &.open{
      .dropdown-toggle {
        .caret {
          margin-top: 15px;
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .dropdown-toggle{
      background: none;
      border: none;
      text-transform: uppercase;
      padding-left: 0;
      .caret{
        background: url("../../assets/img/ic-shevron-down-gray.svg") no-repeat;
        @include tm-transition();
        border: none;
        width: 16px;
        height: 16px;
        margin-top: 22px;
        margin-left: 24px;
      }
      &.selected-group{
        h4 {
          color: $p1;
        }
      }
      h4{
        float: left;
        color: $n3;
        &:hover{
          color: $p1;
        }
      }
    }
  }

  #selected-method-name{
    min-height: $line-height-h2;
  }

  .api-column {
    margin-top: 81px;
    .list-group-item {
      word-break: break-all;
      &.active{
        .btn-success {
          color: $white;
          line-height: 10px;
        }
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }

  .expand-new-method {
    width: 24px;
    height: 24px;
    background: url('../../assets/img/ic-more.svg') no-repeat;
    cursor: pointer;
    margin-top: 5px;
  }

  .list-group{
    border: 1px solid $n2-grey-color;
    border-radius: 5px;
    .list-group-item {
      border: none;
      outline: none;
      &.active{
        font-size: $font-size-h3;
        font-weight: bold;
        background-color: $n2-grey-color !important;
        padding-bottom: 13px;
      }
      &.expandable{
        cursor: pointer;
        padding-right: 40px;
        padding-top: 20px;
        &:not(:last-child){
          padding-bottom: 20px;
          &:after{
            content: '';
            display: block;
            position: absolute;
            width: 88%;
            height: 2px;
            left: 50%;
            margin-left: -44%;
            bottom: 1px;
            background-color: $border-color;
          }
        }
        &.selected{
          background-color: $p1;
          margin: -3px -1px 0;
          color: $white;
          &:before{
            background: url('../../assets/img/ic-shevron-right-white.svg') no-repeat;
          }
          &:after{
            display: none;
          }
        }
        &:before{
          content: '';
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -8px;
          display: block;
          width: 16px;
          height: 16px;
          background: url('../../assets/img/ic-shevron-right.svg') no-repeat;
        }
      }
    }
    .active + .expandable{
      border-top: 1px solid $white;
      margin-top: 1px !important;
      &:before{
        margin-top: -2px;
      }
    }
  }
}

//slider customization
.slick-slider{
  -webkit-user-select: inherit !important;
  -moz-user-select: inherit !important;
  -ms-user-select: inherit !important;
  user-select: inherit !important;
  .slick-slide {
    padding: 0 15px;
  }
}
